<body class="body">
    {{> header}}


    <main>
        <p>
            <a href="/contacts">Обратно к товарам</a>
        </p>

        <h1>Это страница одного продукта</h1>
        <img src="{{product.image}}" alt="">
        <h2>{{product.name}}</h2>
    </main>

    {{> footer}}
</body>